body
{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(w-qjCHPZbeXCQ-unsplash.jpeg);
    position: relative  ;
    display: flex;
	align-items: center;
	justify-content: center;
}

.container
{
    background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 500px;
    height: 400px;
	max-width: 100%;
    margin-top: 12em;
    align-items: center;
    display: grid ;
    justify-items: center;
    
}
.header 
{
    display: flex;
    align-items: center;
    padding: 5px;
    
}
.form-control
{
  padding: 5px;
}
.login-button{
  margin-left: 6.5em;
  margin-top: 1em;
}